.select {
    padding: 16px;
    display: flex;
    flex-grow: 1;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.select select{
    border: none;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}